<nav class="tt-overlay-menu tt-ol-menu-center tt-ol-menu-count">
    <div class="tt-ol-menu-holder">
        <div class="tt-ol-menu-inner tt-wrap">
            <div class="tt-ol-menu-content">

                <!-- Begin menu list -->
                <ul class="tt-ol-menu-list">

                    <!-- <li><a href="">Single Link</a></li> -->

                    <!-- Begin submenu (submenu master)
                    ==================================== -->
                    <li class="tt-ol-submenu-wrap active">
                        <div class="tt-ol-submenu-trigger">
                            <a href="{% url 'home' %}">Home</a>
                        </div>
                    </li>
                    <!-- End submenu (sub-master) -->

                    <!-- Begin submenu (submenu master)
                    ==================================== -->
                    <li class="tt-ol-submenu-wrap">
                        <div class="tt-ol-submenu-trigger">
                            <a href="{% url 'blog' %}">Blog</a>                        
                        </div>
                    </li>

                    <li><a href="contact.html">Contact</a></li>

                </ul>
                <!-- End menu list -->

            </div> <!-- /.tt-ol-menu-content -->
        </div> <!-- /.tt-ol-menu-inner -->
    </div> <!-- /.tt-ol-menu-holder -->

    <!-- Begin noise background -->
    <div class="bg-noise"></div>
    <!-- End noise background -->

</nav> 